// utils
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// hero section
.lf-hero {
  min-height: 80vh;
  h1,
  span {
    color: #fff;
  }
}

// why section
.lf-why {
  &__heading {
    background-color: #fff;
    color: #742e90;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

//modal
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal.fade .modal-dialog {
  transform: translateY(-300px) scale(0.1);
  opacity: 0;
  transition: all 0.3s;
  z-index: 1200;
}

.modal.fade.show .modal-dialog {
  top: -300px;
  opacity: 1;
  transform: translateY(300px) scale(1);
}

.modal-body {
  position: relative;
  padding: 0px;
}
.btn-close {
  position: absolute;
  right: -30px;
  top: 0;
}
